<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiveCharts" version="0.9.7" targetFramework="net47" />
  <package id="LiveCharts.Geared" version="1.2.9" targetFramework="net47" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net47" />
  <package id="NLog" version="4.5.11" targetFramework="net47" />
  <package id="NLog.Config" version="4.5.11" targetFramework="net47" />
  <package id="NLog.Schema" version="4.5.11" targetFramework="net47" />
  <package id="NlogViewer" version="0.7.0" targetFramework="net47" />
</packages>